      body {
   background-image: url("/images/forest2.webp");
   background-color: #CCFFDD;
}
      a {
   color: #437A69;
}
      
      h1 {
   color: #437A50;
   border-color: #70CC85;
}
      dl {
   text-align: center;
   font-family: Koh+Santepheap;
   font-size: 18px;
   padding: 10px;
   background-color: #D3D3D3;
   border-width: 10px;
   border-style: double;
   color: #437A50;
   border-color: #70CC85;
}
      h2 {
   color: #437A50;
   border-color: #70CC85;
}
      
      p {
   color: #437A50;
   border-color: #70CC85;
}
      dl {
   color: #437A50;
   border-color: #70CC85;
}
      ul {
   color: #437A50;
   background-color: #7ADE91;
   border-color: #427740;
}
      ul li a {
   color: #437A50;
}
